# based on this work:
# https://www.reddit.com/r/kde/comments/7h6g8e/move_window_to_center_patch/
# modified and extended by Pietari Heino

[Desktop Entry]
Name=Center current window
Comment=Set the size of the current window to 1/2 of screen and center it
Icon=preferences-system-windows-script-test
Type=Service

X-KDE-ServiceTypes=KWin/Script
X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js
X-KDE-PluginInfo-Author=FungusAdamAndPietariHeino
X-KDE-PluginInfo-Name=centercurrentwindow
X-KDE-PluginInfo-Version=1.1
